.table-content {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.table-content table {
  border-collapse: collapse;
  font-size: 0.7rem;
  width: 100%;
}
.table-content table thead {
  font-size: 0.7rem;
  background-color: rgba(88, 202, 161, 0.3);
}

.table-content table thead tr td {
  padding: 14px;
}
.table-content table tbody tr td {
  padding: 14px;
}

.column-name img {
  border-radius: 50%;
  width: 40px;
}
.column-name div {
  column-gap: 20px;
}
.column-controls i {
  color: #5acba1;
  font-size: 1rem;
  cursor: pointer;
}
